.git
.gitignore

.env
.env.*

node_modules
vendor

/public/build
/public/hot
/public/storage

/tests

.phpunit.result.cache
*.log

/.vscode
/.idea

.DS_Store
Thumbs.db

composer.phar

npm-debug.log
yarn-error.log